h1{
    position: absolute;
    margin-left: 750px;
  margin-top:300px;
    z-index: 1;
}
.city h3{
  position: absolute;
  margin-left: 330px;
  margin-top: 80px;
}
h4{
  position: absolute;
  margin-left: 490x;
  margin-top: 300px;
}
h5{
  position: absolute;
  margin-left: 100px;
  margin-top: 30px;
}
#p1{
  margin-left: 500px;
  float: right;
}
#p2{
  margin-right: 100px;
  float: right;
}
#list1{
  margin-left: 400px;
  margin-top: 80px;
}
#list2{
  margin-right: 400px;
  margin-top: 75px;
}